<!DOCTYPE html>

<html>
	
	<head>
		
	<title>{% block title %}{% endblock title %}</title>

	</head>



	<body>

	  <div>
    <strong>Menu:</strong>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'player_stats' %}">Player Stats</a></li>
      <li><a href="http://www.espn.com/fantasy/football/">ESPN FF Home</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
      {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
      {% endif %}
      <hr>
    </ul>
  </div>
		
		{% block content %}
		
		{% endblock content %}

	</body>


</html>