{% extends 'base.html' %}
{% load ffleague_custom_tags %}


{% block title %}Home Page{% endblock title %}


{% block content %}

<h1>HOME PAGE</h1>
<h3>Welcome to the 2017 Fantasy Football season</h3>
<br>
<!-- {% for team in teams %}
<a href="{% url 'single_team' team_id=team.id %}">{{team.team_name}}</a>
<br><br>
{% endfor %} -->

<table border="1">
	<tr>
		<td></td>
		<th>Record</th>
		<th>PF</th>
		<th>PA</th>
		<th>AW</th>
		<th>PR</th>
		<th>SOS</th>
		<th>RSOS</th>
		<th>PPWA</th>
		<th>CON</th>
		<th>SPEC</th>
		<th>Min</th>
		<th>Max</th>
		<td></td>
	</tr>


{% for team in league_team_list %}

	<tr>
		<th>{{team.team_abbrev}}</th>
		<td>{{team.wins}} - {{team.losses}}</td> <!-- Record -->
		<td>{{team.points_for}}</td> <!-- PF -->
		<td>{{team.points_against}}</td> <!-- PA -->


<!-- AW ATTEMPT SITTING IN NOTES.PY -->
		<td></td>
		<td></td> <!-- PR -->
		<td></td> <!-- SOS -->
		<td></td> <!-- RSOS -->
		<td></td> <!-- PF -->
		<td></td> <!-- PPWA -->
		<td></td> <!-- CON -->
		<td></td> <!-- SPEC -->
		<td></td> <!-- min -->
		<td></td> <!-- max -->
	</tr>


{% endfor %}


</table>

<br>

<h2>ScoreBoard</h2>

{% for matchup in league_scoreboard %}

<p>{{matchup.home_team.team_abbrev}}: {{matchup.home_score}} vs 
   {{matchup.away_team.team_abbrev}}: {{matchup.away_score}}</p>

{% endfor %}


{% endblock content %}